header {
      position: relative;
      height: (400rem/16);
      background: url('../img/header-graphic.png');
      background-position: 50% 50%;
      background-size: cover;
      text-align: center;
}
